.nav {
	display: flex;
	justify-content: space-between;
}

h5 {
	user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
		-o-user-select: none;
}

.twelve h5:hover {
	color: #fff;
	cursor: pointer;
}

#output, #out {
overflow-x: scroll;
font-size: 16px;
 }
.attrs {
	font-size: 1.5rem;
}

#sidebar {
	width: 100%;
	height:30rem;
	background-color: #0c1015;
	top:0;
	left:0;
	float: right;
	display: none;
}

.float-right > * {
	float:right;
}

.CodeMirror {
	font-family: 'APL386', monospace;
	font-size: 16px;
	height: auto;
	margin-bottom: 3rem;
	min-height: 3.5rem;
}
